<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Crud - Vendas</title>
  </head>
  <body>
    <h1 style="text-align: center;">Adicionando Venda</h1>

    <div class="container">
        <form method="POST" action="/addData">
            <div class="form-group">
                <label>Valor Venda:</label>
                <input class="form-control" placeholder="Valor Venda" name="venda">
            </div>
            <div class="form-group">
                <label>Status:</label>
                <select class="form-control" placeholder="Status Venda" name="status">
                    <option>DEVOLUÇÃO</option>
                    <option>CANCELADO</option>
                    <option>COMPRA</option>
                </select>
            </div>
            <div class="form-group">
                <label>Quant. Do Produto:</label>
                <input class="form-control" placeholder="Quantidade do produto" name="quantidade">
            </div>
            <div class="form-group">
                <label>Estado:</label>
                <input class="form-control" placeholder="Estado" name="estado">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form> 
    </div>
  </body>
</html>